.stats {
    display: flex;
    margin-top: 30px;
  
    .stat {
      flex: 1;
      box-shadow: 0 2px 4px 0 rgba(0,0,0,0.10);
      margin: 0 15px;
      background: rgba(0, 0, 0, 0.05);
  
      .header {
        background: white;
        padding: 10px 5px;
  
        p {
          font-size: 12px;
          margin: 0;
          font-weight: bold;
          text-transform: uppercase;
          letter-spacing: -.4px;
          text-align: center;
          opacity: .7;
        }
      }
  
      .body {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 15px;
  
        h4 {
          text-align: center;
          font-size: 30px;
          font-weight: 300;
          opacity: 0.8;
        }
  
        .percent{
          font-size: 32px;
        }
      }
    }
  }